body{
    font-family: Arvo, serif;
    background: url(https://cdn.pixabay.com/photo/2013/02/05/15/18/landscape-78058_1280.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
}

/*title*/
#header {
    text-align: center;
    font-size: 7vw;
}

/*lap*/
#lap {
    text-align: right;
    font-size: 4vw;
}

/*time*/
#time {
    text-align: center;
    font-size: 10vw;
}